<!DOCTYPE html>
<html>
<head>
    <title>Simple 댓글 서비스</title>
    <link rel="stylesheet" href="style.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
</head>
<body>
<div id="form" class="m-5 p-5 border">
    <h1>댓글 작성</h1>
    <form action="">
        <div class="input-group">
            <input class="form-control" type="text" name="author" placeholder="작성자 이름">
            <input class="form-control" type="text" name="comment" placeholder="댓글 내용 입력">
            <button class="btn btn-outline-secondary" type="submit">등록</button>
        </div>
    </form>
</div>
<div id="list" class="m-5 p-5 border">
    <h1>댓글 목록</h1>
    <table class="table table-hover">
        <tr th:each="comment : ${commentList}">
            <th>번호</th>
            <th>작성자</th>
            <th>댓글</th>
            <th>날짜</th>
        </tr>
        <tr>
            <td th:text="${comment.no}" >1</td>
            <td th:text="${comment.no}" >스프링</td>
            <td th:text="${comment.no}" >안녕하세요~</td>
            <td th:text="${comment.no}" >2023-08-17</td>
        </tr>
        <tr>
            <td>1</td>
            <td>스프링</td>
            <td>안녕하세요~</td>
            <td>2023-08-17</td>
        </tr>
        <tr>
            <td>1</td>
            <td>스프링</td>
            <td>안녕하세요~</td>
            <td>2023-08-17</td>
        </tr >
    </table>
</div>
</body>
</html>